/*style for all*/
blockquote {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
ul a,
ol a {
  color: inherit;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
ul a:hover,
ol a:hover {
  text-decoration: underline;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: #903349;
  padding: 0 0 40px 0;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 41px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    padding: 0 0 30px 0;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.333;
  color: #000000;
  padding: 0 0 30px 0;
}
@media screen and (max-width: 960px) {
  h2 {
    font-size: 33px;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
  }
}
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #903349;
  line-height: 1.25;
  padding: 10px 0 30px 0;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  h3,
  h4,
  h5,
  h6 {
    padding: 10px 0 20px 0;
  }
}
h4 {
  font-size: 22px;
  padding: 0 0 20px 0;
}
h5 {
  font-size: 20px;
  padding: 0 0 15px 0;
}
h6 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding: 0 0 10px 0;
}
.b_with-left-image .description-inner h1 {
  display: inline-block;
  font-weight: 300;
  margin-top: -6px;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .description-inner h1 {
    font-weight: 600;
  }
}
.b_with-left-image .description-inner h2 {
  margin-top: -11px;
}
.b_with-left-image .description-inner h4 {
  margin-top: -6px;
}
.b_with-left-image .description-inner h5 {
  margin-top: -5px;
}
.b_with-left-image .description-inner h6 {
  margin-top: -5px;
}
.b_with-left-image .description-inner ol {
  margin-top: -9px;
}
.b_with-left-image .description-inner ul {
  margin-top: -9px;
}
.b_with-left-image .description-inner p {
  margin-top: -4px;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .description-inner {
    width: 100%;
    padding: 0;
  }
  .b_with-left-image .description-inner h1,
  .b_with-left-image .description-inner h2,
  .b_with-left-image .description-inner h4,
  .b_with-left-image .description-inner h5,
  .b_with-left-image .description-inner h6,
  .b_with-left-image .description-inner ol,
  .b_with-left-image .description-inner ul,
  .b_with-left-image .description-inner p {
    margin-top: 0;
  }
}
.slide-info h1 {
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
  max-height: 116px;
}
@media screen and (max-width: 960px) {
  .slide-info h1 {
    max-height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .slide-info h1 {
    max-height: 87px;
  }
}
.slide-info h2 {
  padding: 0;
  margin: 5.786%  0;
  /* 35/605*/
  font-weight: 400;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
  max-height: 143px;
}
@media screen and (max-width: 960px) {
  .slide-info h2 {
    max-height: 132px;
  }
}
@media screen and (max-width: 600px) {
  .slide-info h2 {
    max-height: 120px;
  }
}
.s_page-content h1 {
  display: inline;
  padding: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.s_slogan h1 {
  color: #ffffff;
  text-align: center;
  padding: 0;
}
.s_articles h1 {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .s_articles h1 {
    text-align: left;
  }
}
ul,
ol,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #000000;
  overflow: hidden;
  margin: 0 0 25px 0;
}
@media screen and (max-width: 800px) {
  ul,
  ol,
  p {
    margin: 0 0 15px 0;
  }
}
.section-content a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.s_align-center .l_columns-inner p {
  text-align: left;
}
@media screen and (max-width: 600px) {
  .s_align-center .l_columns-inner p {
    text-align: center;
  }
}
.txt-bold {
  font-weight: 600;
}
.b_section-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}
/*s-head*/
.slide-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: #000000;
}
.b_nav-menu .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}
.b_nav-menu .nav-link:hover a {
  color: #903349;
}
.b_nav-menu .nav-link:hover span {
  color: #903349;
}
.b_nav-menu .nav-link a {
  text-decoration: none;
  color: #000000;
  line-height: 1.2;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link a {
    color: #ffffff;
  }
}
.b_nav-menu .nav-link span {
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link span {
    color: #ffffff;
  }
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
  }
  .b_nav-menu .nav-link:hover a {
    color: #ffffff;
  }
}
.b_nav-menu .nav-link.active {
  cursor: default;
}
.b_nav-menu .nav-link.active a {
  color: #903349;
  cursor: default;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link.active {
    background: #ffffff;
  }
}
.sub-menu-l2 .nav-link.device-menu-tab {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: none;
}
.sub-menu-l2 .nav-link.device-menu-tab:hover a {
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link.device-menu-tab {
    font-size: 28px;
  }
  .sub-menu-l2 .nav-link.device-menu-tab:hover a {
    color: #903349;
  }
  .sub-menu-l2 .nav-link.device-menu-tab:hover span {
    color: #903349;
  }
}
.sub-menu-l2 .nav-link.device-menu-tab a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link.device-menu-tab a {
    color: #ffffff;
  }
}
.sub-menu-l2 .nav-link.device-menu-tab span {
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link.device-menu-tab span {
    color: #ffffff;
  }
}
.languages {
  z-index: 100;
}
@media screen and (max-width: 960px) {
  .languages {
    z-index: auto;
  }
}
.languages a,
.languages span {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}
.languages a:hover,
.languages span:hover {
  color: #903349;
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  .languages a,
  .languages span {
    color: #ffffff;
    font-size: 26px;
    line-height: 1.77;
  }
  .languages a:hover,
  .languages span:hover {
    color: #000000;
  }
}
@media screen and (max-width: 600px) {
  .languages a,
  .languages span {
    font-size: 20px;
  }
}
.languages .language-link.select a {
  color: #903349;
}
@media screen and (max-width: 960px) {
  .languages .language-link.select a {
    color: #ffffff;
  }
  .languages .language-link.select a:hover {
    color: #000000;
    text-decoration: none;
  }
}
/*s_services*/
.icon-title-services {
  text-transform: lowercase;
  color: #903349;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
}
/*s_articles*/
.cut-4-lines p {
  max-height: 92.16px;
}
.cut-6-lines p {
  max-height: 138.24px;
}
.cut-11-lines p {
  max-height: 253.44px;
}
/*s_footer*/
.phone-logo-inner {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: #903349;
  font-weight: 700;
  line-height: 1.15;
}
@media screen and (max-width: 800px) {
  .phone-logo-inner {
    font-size: 35.36px;
  }
}
.footer-info-inner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 1.35;
}
.footer-info-inner p {
  font-size: 20px;
  line-height: 1.35;
}
@media screen and (max-width: 800px) {
  .footer-ambulance p {
    font-size: 27.2px;
  }
}
.footer-phone-inner {
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .title-social {
    font-size: 24px;
    line-height: 1.08;
  }
}
/*SERVICES*/
/*s_page-content*/
.txt-large {
  font-size: 24px;
  line-height: 1.33;
}
/*s_slogan*/
.s_slogan p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.333;
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .s_slogan p {
    font-size: 33px;
  }
}
@media screen and (max-width: 600px) {
  .s_slogan p {
    font-size: 30px;
  }
}
.s_slogan p span {
  font-weight: 700;
}
/*SELL-PAGE*/
/*s_slogan-with-img*/
.slogan-with-img p {
  font-size: 24px;
}
/*SELL-PAGE*/
/* s_four-column */
/* l-5-col */
.l-4-col p,
.l-5-col p {
  font-size: 14px;
}
.l-4-col .cut-6-lines p,
.l-5-col .cut-6-lines p {
  font-size: 14px;
  max-height: 120.96px;
}
.l-4-col .cut-4-lines p,
.l-5-col .cut-4-lines p {
  font-size: 14px;
  max-height: 80.64px;
}
