/*style for all*/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: #903349;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 41px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
    line-height: 1.333;
  }
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.333;
  color: #000000;
  padding: 0 0 30px 0;
}
@media screen and (max-width: 960px) {
  h2 {
    font-size: 33px;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
  }
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #903349;
  line-height: 1.25;
  padding: 10px 0 30px 0;
}
@media screen and (max-width: 800px) {
  h3 {
    padding: 10px 0 20px 0;
  }
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #000000;
  overflow: hidden;
  margin: 0 0 25px 0;
}
@media screen and (max-width: 800px) {
  p {
    margin: 0 0 15px 0;
  }
}
.breadcrumbs a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 1.44;
}
.b_section-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}
/*s-head*/
.slide-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: #000000;
}
.b_nav-menu .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.b_nav-menu .nav-link:hover > a {
  color: #903349;
}
.b_nav-menu .nav-link:hover > span {
  color: #903349;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
  }
  .b_nav-menu .nav-link:hover > a {
    color: #ffffff;
  }
}
.b_nav-menu .nav-link a {
  text-decoration: none;
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link a {
    color: #ffffff;
  }
}
.b_nav-menu .nav-link span {
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link span {
    color: #ffffff;
  }
}
.b_nav-menu .nav-link.active {
  cursor: default;
}
.b_nav-menu .nav-link.active > a {
  color: #903349;
  cursor: default;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link.active {
    background: #ffffff;
  }
}
.sub-menu-l2 .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: none;
}
.sub-menu-l2 .nav-link:hover a {
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link {
    font-size: 28px;
  }
  .sub-menu-l2 .nav-link:hover a {
    color: #903349;
  }
  .sub-menu-l2 .nav-link:hover span {
    color: #903349;
  }
}
.sub-menu-l2 .nav-link a {
  text-decoration: none;
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link a {
    color: #ffffff;
  }
}
.sub-menu-l2 .nav-link span {
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link span {
    color: #ffffff;
  }
}
.languages a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
}
.languages a:hover {
  color: #903349;
}
@media screen and (max-width: 960px) {
  .languages a {
    font-size: 26px;
    line-height: 1.77;
  }
}
.languages a.select {
  color: #903349;
}
/*s_main-info*/
.s_main-info h1 {
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .s_main-info h1 {
    font-weight: 600;
  }
}
/*s_services*/
.icon-title-services {
  text-transform: lowercase;
  color: #903349;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
}
/*s_articles*/
.cut-6-lines p {
  max-height: 138.24px;
}
/*s_footer*/
.phone-logo-inner {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: #903349;
  font-weight: 700;
  line-height: 1.15;
}
@media screen and (max-width: 800px) {
  .phone-logo-inner {
    font-size: 35.36px;
  }
}
.footer-info-inner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 1.35;
}
.footer-info-inner p {
  font-size: 20px;
  line-height: 1.35;
}
@media screen and (max-width: 800px) {
  .footer-ambulance p {
    font-size: 27.2px;
  }
}
.footer-phone-inner {
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .title-social {
    font-size: 24px;
    line-height: 1.08;
  }
}
/*SERVICES*/
/*s_page-content*/
.cut-4-lines p {
  max-height: 92.16px;
}
.txt-large {
  font-size: 24px;
  line-height: 1.33;
}
/*s_slogan*/
.s_slogan p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.333;
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .s_slogan p {
    font-size: 33px;
  }
}
@media screen and (max-width: 600px) {
  .s_slogan p {
    font-size: 30px;
  }
}
.s_slogan p span {
  font-weight: 700;
}
/*SELL-PAGE*/
/*s_slogan-with-img*/
.slogan-with-img p {
  font-size: 24px;
}
/*SELL-PAGE*/
/* s_four-column */
.l-4-col p {
  font-size: 14px;
}
.l-4-col .cut-6-lines p {
  font-size: 14px;
  max-height: 120.96px;
}
.l-4-col .cut-4-lines p {
  font-size: 14px;
  max-height: 80.64px;
}
