/*Style for all*/
body {
  position: relative;
  overflow-x: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  z-index: 1;
  opacity: 0.6;
  display: none;
  visibility: hidden;
}
@media screen and (max-width: 960px) {
  .overlay {
    visibility: visible;
  }
}
.overlay.for-form-call-back {
  visibility: visible;
}
section.white {
  background: #ffffff;
}
section.white .b_section-title {
  background: #ffffff;
  color: #000000;
}
section.gray {
  background: #f0f0f0;
}
section.gray .b_section-title {
  background: #f0f0f0;
  color: #000000;
}
section.maroon {
  background: #903349;
}
section.maroon .b_section-title {
  background: #903349;
  color: #ffffff;
}
section.bg-line {
  background: linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
  background: -webkit-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -webkit-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
  background: -moz-linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -moz-linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
  background: -ms-linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -ms-linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
  background: -o-linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -o-linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
  -webkit-background-size: 6px 6px;
  -o-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  background-color: rgba(204, 204, 204, 0.6);
}
.b_section-title {
  position: absolute;
  top: -23px;
  width: 140px;
  padding: 8px 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.l_content-wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 960px) {
  .l_content-wrapper {
    width: 100%;
  }
}
.section-content {
  padding: 60px 10px;
  position: relative;
}
.section-content:after {
  /*������� �����������*/
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
@media screen and (max-width: 600px) {
  .section-content {
    padding: 40px 10px;
  }
}
.b_cut-width {
  width: 82.98%;
  /* 780/940 */
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .b_cut-width {
    width: 100%;
  }
}
hr {
  margin: 0;
  border-top: 1px solid #000000;
}
.description-inner.full p {
  max-height: inherit;
  height: auto;
}
.map-container {
  padding: 0 0 25px 0;
}
.breadcrumbs {
  margin: 0;
}
.breadcrumbs a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 1.44;
}
.breadcrumbs li {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.breadcrumbs li:before {
  content: '/';
  width: inherit;
  height: inherit;
  background: inherit;
  margin-right: 0;
  padding: 0 6px;
  vertical-align: baseline;
}
.breadcrumbs li:first-child:before {
  content: none;
}
.breadcrumbs li a {
  text-decoration: underline;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.image-inner {
  padding: 0 0 25px 0;
}
.image-inner a {
  display: block;
}
.image-inner img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  max-width: 460px;
}
@media screen and (max-width: 800px) {
  .image-inner {
    padding: 0 0 10px 0;
  }
}
.image-inner.icon-inner img {
  width: auto;
}
.image-inner.portrait-inner img {
  max-width: 320px;
}
ul {
  list-style: none;
}
ul li {
  padding: 5px 0;
}
ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #000000;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
ol {
  list-style: none;
  counter-reset: li;
  padding: 0;
}
ol li {
  padding: 5px 0;
}
ol li:before {
  content: counter(li) ".";
  counter-increment: li;
  display: inline-block;
  margin-right: 10px;
}
.call-back {
  text-align: center;
  padding: 30px 5px;
  margin: 0 0 30px 0;
}
.call-back.gray {
  background: #f0f0f0;
}
.call-back h6 {
  padding: 0;
}
.call-service {
  padding: 30px;
  text-align: left;
  margin: 0 0 30px 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
}
.call-service .list-inner {
  margin: 0;
}
.l_item {
  padding: 7.448% 0;
  /* 70/960 */
  overflow: hidden;
}
.l_item:last-child {
  padding: 7.448% 0 1px 0;
}
/*s-head*/
.main-slider-slide {
  overflow: hidden;
  position: relative;
  height: 660px;
}
@media screen and (max-width: 960px) {
  .main-slider-slide {
    height: 700px;
  }
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide-img img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  min-width: 1600px;
}
@media screen and (max-width: 960px) {
  .slide-img img {
    width: auto;
    height: 100%;
  }
}
.b_inner-slider {
  padding: 0 0 50px 0;
}
.inner-slide-img img {
  width: 100%;
  height: auto;
}
.slide-description {
  max-width: 450px;
  width: 50%;
  position: absolute;
  top: 160px;
  right: 10px;
  min-width: 300px;
  max-height: 460px;
  background: rgba(255, 255, 255, 0.7);
  padding: 35px 15px 25px;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .slide-description {
    max-width: 45%;
    right: 0;
    left: 0;
    margin: auto;
  }
}
.slide-title {
  margin: 0 0 35px 0;
  max-height: 317px;
  text-align: right;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.b_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 960px) {
  .b_header {
    background-color: #cccccc;
  }
}
.s-head .section-content {
  padding: 30px 10px;
}
@media screen and (max-width: 600px) {
  .s-head .section-content {
    padding: 22px 10px;
  }
}
.site-logo {
  width: 205px;
  float: left;
}
@media screen and (max-width: 960px) {
  .site-logo {
    width: 230px;
  }
}
@media screen and (max-width: 600px) {
  .site-logo {
    width: 180px;
  }
}
.site-logo a {
  display: block;
}
.site-logo img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.header-navigation {
  position: relative;
  top: 30px;
  float: right;
}
@media screen and (max-width: 960px) {
  .header-navigation {
    width: 70%;
    background: #903349;
    height: 290px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    float: none;
    display: block;
    visibility: hidden;
  }
}
@media screen and (max-width: 600px) {
  .header-navigation {
    width: 100%;
  }
}
.header-navigation nav {
  float: right;
  position: relative;
}
@media screen and (max-width: 960px) {
  .header-navigation nav {
    float: none;
    top: 185px;
  }
}
.header-navigation .open-icon-hamburger {
  display: block;
}
.header-navigation .close-icon-hamburger {
  display: none;
  visibility: hidden;
}
@media screen and (max-width: 960px) {
  .header-navigation .close-icon-hamburger {
    visibility: visible;
  }
}
.header-navigation.show-navigation {
  visibility: visible;
}
.header-navigation.show-navigation .open-icon-hamburger {
  display: none;
}
.header-navigation.show-navigation .close-icon-hamburger {
  display: block;
}
.b_nav-menu {
  overflow: hidden;
  margin: 0;
}
.b_nav-menu .disable-link {
  position: relative;
}
.b_nav-menu .disable-link:before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.b_nav-menu .nav-link {
  display: block;
  float: left;
  cursor: pointer;
  padding: 0 18px 20px 18px;
}
.b_nav-menu .nav-link:before {
  content: none;
}
.b_nav-menu .nav-link:last-child {
  padding: 0 0 20px 18px;
}
.b_nav-menu .nav-link:hover .sub-menu-l2 {
  display: block;
}
.b_nav-menu .nav-link:hover .triangle-nav {
  display: block;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link.device-menu-tab {
    display: block;
    padding: 15px 1%;
    text-align: center;
    width: 48%;
    border-bottom: 3px solid #ffffff;
  }
  .b_nav-menu .nav-link.device-menu-tab:hover .sub-menu-l2 {
    display: none;
  }
  .b_nav-menu .nav-link.device-menu-tab.active .sub-menu-l2 {
    display: block;
  }
  .b_nav-menu .nav-link.device-menu-tab a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    display: block;
  }
}
.b_nav-menu .nav-link.device-menu-tab.mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link.device-menu-tab.mobile {
    display: block;
  }
}
.sub-menu-l2 {
  display: none;
  position: absolute;
  top: 40px;
  left: -85px;
  width: 260px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 {
    width: 100%;
    top: 66px;
    left: 0;
    right: 0;
  }
}
.sub-menu-l2 .nav-link {
  display: block;
  float: none;
  background: #ffffff;
  padding: 0;
  border-bottom: 1px solid #cccccc;
  text-align: left;
  cursor: pointer;
}
.sub-menu-l2 .nav-link:last-child {
  border-bottom: none;
  padding: 0;
}
.sub-menu-l2 .nav-link:hover {
  background: #903349;
}
.sub-menu-l2 .nav-link a {
  display: block;
  padding: 13px 20px;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link.device-menu-tab {
    text-align: left;
    width: 100%;
    border-bottom: none;
    background: #903349;
    padding: 15px 20px;
  }
  .sub-menu-l2 .nav-link.device-menu-tab:hover {
    background: #ffffff;
  }
  .sub-menu-l2 .nav-link.device-menu-tab a {
    overflow: inherit;
    text-overflow: initial;
    white-space: pre-line;
    width: 100%;
    word-wrap: break-word;
  }
}
/*SELL-PAGE*/
/*s-head*/
.slide-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 73.438%;
  /* 705/960 */
  min-width: 300px;
  height: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 45px 50px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .slide-info {
    padding: 35px 15px 25px;
  }
}
/*section s_main-info*/
.b_with-left-image:after {
  /*������� �����������*/
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.b_with-left-image .image-inner {
  float: left;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .image-inner {
    display: none;
  }
}
.b_with-left-image .description-inner {
  float: left;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .l_columns-inner .col {
    width: 50%;
    padding: 0 10px;
    margin-left: -10px;
  }
}
.b_with-left-image .l_columns-inner .image-inner {
  max-width: inherit;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .l_columns-inner .image-inner {
    display: block;
  }
}
/*s_articles*/
.s_articles h2 {
  text-align: center;
}
.l_columns-inner {
  margin: 0 0 0 -10px;
  font-size: 0;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .l_columns-inner {
    margin: 0;
  }
}
.l_columns-inner .col {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l_columns-inner .col:before {
  content: none;
}
.l_columns-inner .col .image-inner {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .l_columns-inner .col {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .l_columns-inner .col {
    padding: 0;
  }
  .l_columns-inner .col:last-child {
    margin-bottom: 10px;
  }
}
.l_columns-inner.title-with-bullet h3:before {
  content: "";
  width: 16px;
  height: 16px;
  background: #903349;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  margin-right: 10px;
}
.l-1-col {
  margin: 0;
}
.l-1-col .col {
  width: 100%;
  padding: 0;
}
.l-1-col img {
  max-width: inherit;
}
.l-2-col .col {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .l-2-col .col {
    width: 100%;
  }
}
.l-3-col .col {
  width: 33.33333%;
}
@media screen and (max-width: 800px) {
  .l-3-col .col {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .l-3-col .col {
    width: 100%;
  }
}
.l-4-col .col {
  width: 25%;
}
@media screen and (max-width: 960px) {
  .l-4-col .col {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .l-4-col .col {
    width: 100%;
  }
}
.l-4-col .col .btn {
  padding: 10px 15px;
  font-size: 18px;
}
@media screen and (max-width: 960px) {
  .l-4-col .col .btn {
    padding: 12px 40px;
    font-size: 20px;
  }
}
.l-5-col .col {
  width: 20%;
}
@media screen and (max-width: 960px) {
  .l-5-col .col {
    width: 33.33333%;
  }
}
@media screen and (max-width: 800px) {
  .l-5-col .col {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .l-5-col .col {
    width: 100%;
  }
}
.l-5-col .col .btn {
  padding: 7px 10px;
  font-size: 16px;
}
@media screen and (max-width: 960px) {
  .l-5-col .col .btn {
    padding: 12px 40px;
    font-size: 17px;
  }
}
@media screen and (max-width: 800px) {
  .l_columns-inner.hidden-col .col:last-child {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .l_columns-inner.hidden-col .col:last-child {
    display: inline-block;
  }
}
.video-wrapper {
  position: relative;
  padding-bottom: 75%;
  height: 0;
}
@media screen and (max-width: 600px) {
  .video-wrapper {
    padding-bottom: 65%;
  }
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 480px;
}
@media screen and (max-width: 600px) {
  .video-wrapper iframe {
    width: 85%;
  }
}
.video-wrapper.full-screen iframe {
  max-width: inherit;
}
@media screen and (max-width: 600px) {
  .video-wrapper.full-screen iframe {
    width: 100%;
  }
}
.s_page-content .b_with-left-image .video-wrapper {
  padding-bottom: 58%;
}
@media screen and (max-width: 800px) {
  .s_page-content .b_with-left-image .video-wrapper {
    padding-bottom: 68%;
  }
}
@media screen and (max-width: 600px) {
  .s_page-content .b_with-left-image .video-wrapper {
    padding-bottom: 65%;
  }
}
.s_left-img-float .b_with-left-image .video-wrapper {
  padding-bottom: 69%;
}
@media screen and (max-width: 800px) {
  .s_left-img-float .b_with-left-image .video-wrapper {
    padding-bottom: 75%;
  }
}
@media screen and (max-width: 600px) {
  .s_left-img-float .b_with-left-image .video-wrapper {
    padding-bottom: 65%;
  }
}
/*SELL-PAGE*/
/* s_align-center */
.s_align-center {
  text-align: center;
}
.s_align-center .l_columns-inner .col {
  text-align: center;
}
/*DOCTORS*/
/* s_doctors */
@media screen and (max-width: 600px) {
  .s_doctors {
    text-align: center;
  }
}
.s_doctors .l_columns-inner {
  padding-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .s_doctors .l_columns-inner {
    padding-bottom: 20px;
  }
}
.s_doctors .l_columns-inner img {
  max-width: 320px;
}
@media screen and (max-width: 600px) {
  .s_doctors .l_columns-inner .col {
    text-align: center;
  }
}
/*s_footer*/
.b_nav-footer {
  margin: 0;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 800px) {
  .b_nav-footer {
    height: 845px;
  }
}
@media screen and (max-width: 600px) {
  .b_nav-footer {
    padding: 0 0 260px 0;
    height: auto;
  }
}
.b_nav-footer li {
  width: 31.9%;
  max-width: 300px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 2.128%;
  /* 20/940 */
  margin-left: -4px;
}
.b_nav-footer li:before {
  content: none;
}
.b_nav-footer li:first-child {
  padding: 0;
  margin-left: 0;
}
@media screen and (max-width: 800px) {
  .b_nav-footer li {
    width: 48%;
  }
  .b_nav-footer li:last-child {
    position: absolute;
    top: 430px;
    left: 49.5%;
  }
}
@media screen and (max-width: 600px) {
  .b_nav-footer li {
    width: 300px;
    padding: 0 0 7.759% 0;
    /* 45/580 */
  }
  .b_nav-footer li:last-child {
    position: static;
    padding: 0;
  }
  .b_nav-footer li:first-child {
    padding: 0 0 7.759% 0;
    /* 45/580 */
  }
}
.b_nav-footer li h3 {
  padding: 10px 0 0;
}
.b_nav-footer li a {
  display: block;
  padding: 0 0 35px 0;
}
.b_nav-footer li a:last-child {
  padding: 0;
}
@media screen and (max-width: 800px) {
  .b_nav-footer li a {
    padding: 0 0 45px 0;
  }
}
.b_nav-footer li img {
  width: 73.37%;
  /*220/300*/
  height: auto;
  vertical-align: bottom;
}
@media screen and (max-width: 600px) {
  .b_nav-footer li img {
    width: 80%;
  }
}
.b_nav-footer .some-logo {
  padding: 45px 0 0 0;
}
@media screen and (max-width: 800px) {
  .b_nav-footer .some-logo {
    position: absolute;
    top: 430px;
    padding: 0;
    max-width: 300px;
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .b_nav-footer .some-logo {
    top: inherit;
    bottom: 0;
    width: 100%;
  }
}
.footer-info-inner p {
  margin: 0;
}
.phone-logo-inner {
  padding: 0 0 20px 0;
}
.map-container iframe {
  width: 100%;
  max-width: 300px;
  vertical-align: bottom;
}
.content-address-photo {
  padding: 0 0 35px 0;
}
a.footer-info-inner {
  text-decoration: underline;
}
a.footer-info-inner:hover {
  text-decoration: none;
}
.b_social-icons {
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .b_social-icons {
    position: relative;
    top: 0;
    left: 51%;
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .b_social-icons {
    position: static;
    text-align: center;
    display: block;
  }
}
.social-icons-container {
  float: right;
  padding-top: 35px;
}
@media screen and (max-width: 800px) {
  .social-icons-container {
    float: none;
    text-align: left;
    padding-top: 45px;
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .social-icons-container {
    width: 300px;
  }
}
.title-social {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .title-social {
    display: block;
    padding-bottom: 25px;
  }
}
.b_nav-social {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.b_nav-social li {
  float: left;
  padding: 0 0 0 20px;
  list-style: none;
}
.b_nav-social li:before {
  content: none;
}
@media screen and (max-width: 800px) {
  .b_nav-social li:first-child {
    padding: 0;
  }
}
.b_nav-social li a {
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.b_nav-social li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.b_nav-social li a img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
/*SELL-PAGE*/
/*s_footer-example*/
.s_footer-example h3 {
  float: left;
}
@media screen and (max-width: 800px) {
  .s_footer-example h3 {
    float: none;
  }
}
.s_footer-example .b_nav-btn {
  float: right;
}
@media screen and (max-width: 800px) {
  .s_footer-example .b_nav-btn {
    float: none;
  }
}
.b_nav-btn {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.b_nav-btn li {
  padding: 0 0 5px 0;
}
.b_nav-btn li:before {
  content: none;
}
.b_nav-btn li:last-child {
  padding: 0;
}
/*s_slogan*/
.s_slogan p {
  margin: 0 auto;
  width: 77.66%;
}
@media screen and (max-width: 960px) {
  .s_slogan p {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .s_slogan p {
    width: 100%;
  }
}
.slogan-btn {
  text-align: center;
}
/*SELL-PAGE s_slogan*/
/*s_slogan-with-img*/
.slogan-with-img .image-inner {
  margin: 0 auto;
  width: 17.554%;
  /* 165/940*/
  min-width: 100px;
}
.slogan-with-img .image-inner img {
  border-radius: 50%;
}
/*s_left-img-float*/
.s_left-img-float .image-inner {
  max-width: 40%;
  margin: 0 10% 0 0;
}
@media screen and (max-width: 600px) {
  .s_left-img-float .image-inner {
    margin: 0;
  }
}
.s_left-img-float .description-inner {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .s_left-img-float .description-inner {
    width: 100%;
  }
}
