/*Style for all*/
.gray {
  background: #f0f0f0;
}
.white {
  background: #ffffff;
}
.maroon {
  background: #903349;
  color: #ffffff;
}
.white.b_section-title,
.gray.b_section-title {
  color: #000000;
}
.l_content-wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 960px) {
  .l_content-wrapper {
    width: 100%;
  }
}
.section-content {
  padding: 9.375% 1.042%;
  /* 90/960 10/960*/
  position: relative;
}
.section-content:after {
  /*������� �����������*/
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
@media screen and (max-width: 600px) {
  .section-content {
    padding: 9.375% 4%;
  }
}
.b_section-title {
  position: absolute;
  top: -23px;
  width: 160px;
  /* 160/960=16.667%*/
  padding: 0.852% 0;
  /* 8/940 */
  text-align: center;
}
.breadcrumbs li {
  display: inline-block;
  list-style: none;
}
.breadcrumbs li:before {
  content: '/';
}
.breadcrumbs li:first-child:before {
  content: none;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.image-inner a {
  display: block;
}
.image-inner img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
/*s-head*/
.b_main-slider {
  overflow: hidden;
}
.slide-img {
  height: 660px;
}
@media screen and (max-width: 800px) {
  .slide-img {
    height: 700px;
  }
}
.slide-img img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  min-width: 1600px;
}
.slide-description {
  position: absolute;
  bottom: 150px;
  right: 1.042%;
  width: 340px;
  height: 291px;
  background: rgba(255, 255, 255, 0.7);
  padding: 35px 20px 25px 0;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .slide-description {
    bottom: 80px;
    right: 0;
    left: 0;
    margin: auto;
    width: 56.6667%;
    /* 340/600 */
    min-width: 300px;
    max-width: 340px;
  }
}
.slide-title {
  margin: 0 0 35px 0;
  height: 148px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 800px) {
  .b_header {
    background-color: #cccccc;
  }
}
@media screen and (max-width: 960px) {
  .section-content-header {
    padding: 4.167% 1.042% 3.334%;
  }
}
@media screen and (max-width: 600px) {
  .section-content-header {
    padding: 4.167% 4% 3.334%;
    /* 25/600 20/600*/
  }
}
.site-logo {
  width: 205px;
  float: left;
}
@media screen and (max-width: 800px) {
  .site-logo {
    width: 230px;
  }
}
@media screen and (max-width: 600px) {
  .site-logo {
    width: 41.667%;
    /* 230/552 */
    min-width: 170px;
  }
}
.site-logo a {
  display: block;
}
.site-logo img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.header-navigation {
  position: relative;
  top: 30px;
  float: right;
}
@media screen and (max-width: 800px) {
  .header-navigation {
    width: 70%;
    background: #903349;
    height: 286px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    /* -530px */
    float: none;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header-navigation {
    width: 100%;
  }
}
.header-navigation nav {
  float: right;
  position: relative;
}
@media screen and (max-width: 800px) {
  .header-navigation nav {
    float: none;
    top: 183px;
  }
}
.b_nav-menu {
  overflow: hidden;
}
.b_nav-menu > li {
  float: left;
  cursor: pointer;
  padding: 0 0 20px 37px;
}
.b_nav-menu > li:hover .sub-menu-l2 {
  display: block;
}
.b_nav-menu > li:hover .triangle-nav {
  display: block;
}
@media screen and (max-width: 960px) {
  .b_nav-menu > li {
    padding: 0 0 20px 30px;
  }
}
@media screen and (max-width: 800px) {
  .b_nav-menu > li {
    padding: 15px 1%;
    text-align: center;
    width: 48%;
    border-bottom: 3px solid #ffffff;
  }
  .b_nav-menu > li:nth-child(3),
  .b_nav-menu > li:nth-child(4),
  .b_nav-menu > li:nth-child(5),
  .b_nav-menu > li:nth-child(6),
  .b_nav-menu > li:nth-child(7) {
    display: none;
  }
  .b_nav-menu > li:hover {
    background: #ffffff;
  }
  .b_nav-menu > li:hover .sub-menu-l2 {
    display: none;
  }
  .b_nav-menu > li:hover .sub-menu-l2.active {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .b_nav-menu > li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .b_nav-menu > li.active-link {
    background: #ffffff;
  }
  .b_nav-menu > li.active-link > a {
    color: #903349;
  }
}
.sub-menu-l2 {
  display: none;
  position: absolute;
  top: 40px;
  left: -55px;
  max-width: 231px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 {
    left: -60px;
  }
}
@media screen and (max-width: 800px) {
  .sub-menu-l2 {
    max-width: 100%;
  }
}
.sub-menu-l2 li {
  background: #ffffff;
  padding: 13px 20px;
  border-bottom: 1px solid #cccccc;
  text-align: left;
}
.sub-menu-l2 li :last-child {
  border-bottom: none;
}
.sub-menu-l2 li:hover {
  background: #903349;
}
@media screen and (max-width: 800px) {
  .sub-menu-l2 li {
    border-bottom: none;
    background: #903349;
    padding: 15px 20px;
  }
  .sub-menu-l2 li:hover {
    background: #ffffff;
  }
}
.sub-menu-l2 li a {
  white-space: pre-line;
}
@media screen and (max-width: 800px) {
  .sub-menu-l2 {
    top: 66px;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 800px) {
  .sub-menu-l2.active {
    display: block;
  }
}
.mobile-item {
  display: none;
}
@media screen and (max-width: 800px) {
  .mobile-item {
    display: block;
  }
}
/*section s_main-info*/
.b_with-left-image .image-inner {
  float: left;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .image-inner {
    display: none;
  }
}
.b_with-left-image .description-inner {
  float: left;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .description-inner {
    width: 100%;
    padding: 0;
  }
}
/*s_footer*/
.b_nav-footer {
  text-align: center;
  position: relative;
}
@media screen and (max-width: 600px) {
  .b_nav-footer {
    padding: 0 0 360px 0;
  }
}
.b_nav-footer li {
  width: 31.9%;
  max-width: 300px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 2.128%;
  /* 20/940 */
  margin-left: -4px;
}
.b_nav-footer li:first-child {
  padding: 0;
  margin-left: 0;
}
@media screen and (max-width: 800px) {
  .b_nav-footer li {
    width: 48%;
  }
  .b_nav-footer li:last-child {
    position: absolute;
    top: 430px;
    left: 49.5%;
  }
}
@media screen and (max-width: 600px) {
  .b_nav-footer li {
    width: 300px;
    padding: 0 0 8.153% 0;
    /* 45/552 */
  }
  .b_nav-footer li:last-child {
    position: static;
    padding: 0;
  }
  .b_nav-footer li:first-child {
    padding: 0 0 8.153% 0;
    /* 45/552 */
  }
}
.b_nav-footer li h3 {
  padding: 11.67% 0 0;
  /* 35/300 */
}
.b_nav-footer li a {
  display: block;
  padding: 0 0 11.675% 0;
  /* 35/300 */
}
.b_nav-footer li a:last-child {
  padding: 0;
}
@media screen and (max-width: 800px) {
  .b_nav-footer li a {
    padding: 0 0 15% 0;
    /* 45/300 */
  }
}
.b_nav-footer li img {
  width: 75.744%;
  height: auto;
  vertical-align: bottom;
}
@media screen and (max-width: 600px) {
  .b_nav-footer li img {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .b_nav-footer {
    height: 845px;
  }
}
@media screen and (max-width: 600px) {
  .b_nav-footer {
    height: auto;
  }
}
.b_nav-footer .some-logo {
  padding: 15.01% 0 0 0;
  /* 45/300 */
}
@media screen and (max-width: 800px) {
  .b_nav-footer .some-logo {
    position: absolute;
    top: 430px;
    padding: 0;
    max-width: 300px;
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .b_nav-footer .some-logo {
    top: inherit;
    bottom: 0;
    width: 80%;
  }
}
.phone-logo-inner {
  padding: 0 0 6.67% 0;
  /* 20/300 */
}
.map-container iframe {
  width: 100%;
  max-width: 300px;
  vertical-align: bottom;
}
.content-adress-photo {
  padding: 0 0 11.675% 0;
  /* 35/300 */
}
a.footer-info-inner:hover {
  text-decoration: none;
}
.b_social-icons {
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .b_social-icons {
    position: relative;
    top: 0;
    left: 51%;
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .b_social-icons {
    position: static;
    text-align: center;
    display: block;
  }
}
.social-icons-container {
  float: right;
  padding-top: 3.724%;
  /* 35/940 */
}
@media screen and (max-width: 800px) {
  .social-icons-container {
    float: none;
    text-align: left;
    padding-top: 31.667%;
    /* 95/300 */
    width: 300px;
    display: inline-block;
  }
}
.title-social {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .title-social {
    display: block;
    padding-bottom: 8.334%;
    /* 25/300 */
  }
}
.b_nav-social {
  display: inline-block;
  vertical-align: middle;
}
.b_nav-social li {
  float: left;
  padding-left: 20px;
  list-style: none;
}
@media screen and (max-width: 800px) {
  .b_nav-social li:first-child {
    padding-left: 0;
  }
}
.b_nav-social li a {
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.b_nav-social li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.b_nav-social li a img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
