/*style for all*/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
ul a {
  color: inherit;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
ul a:hover {
  text-decoration: underline;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: #903349;
  padding: 0 0 40px 0;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 41px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    padding: 0 0 30px 0;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
}
.b_with-left-image .description-inner h1 {
  font-weight: 300;
  margin-top: -6px;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .description-inner h1 {
    font-weight: 600;
  }
}
.b_with-left-image .description-inner h2 {
  margin-top: -11px;
}
.b_with-left-image .description-inner h4 {
  margin-top: -6px;
}
.b_with-left-image .description-inner h5 {
  margin-top: -5px;
}
.b_with-left-image .description-inner h6 {
  margin-top: -5px;
}
@media screen and (max-width: 600px) {
  .b_with-left-image .description-inner {
    width: 100%;
    padding: 0;
  }
  .b_with-left-image .description-inner h1,
  .b_with-left-image .description-inner h2,
  .b_with-left-image .description-inner h4,
  .b_with-left-image .description-inner h5,
  .b_with-left-image .description-inner h6 {
    margin-top: 0;
  }
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.333;
  color: #000000;
  padding: 0 0 30px 0;
}
@media screen and (max-width: 960px) {
  h2 {
    font-size: 33px;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
  }
}
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #903349;
  line-height: 1.25;
  padding: 10px 0 30px 0;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  h3,
  h4,
  h5,
  h6 {
    padding: 10px 0 20px 0;
  }
}
h4 {
  font-size: 22px;
  padding: 0 0 20px 0;
}
h5 {
  font-size: 20px;
  padding: 0 0 15px 0;
}
h6 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding: 0 0 10px 0;
}
ul,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #000000;
  overflow: hidden;
  margin: 0 0 25px 0;
}
@media screen and (max-width: 800px) {
  ul,
  p {
    margin: 0 0 15px 0;
  }
}
.breadcrumbs a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 1.44;
}
.b_section-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}
/*s-head*/
.slide-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: #000000;
}
.b_nav-menu .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}
.b_nav-menu .nav-link:hover a {
  color: #903349;
}
.b_nav-menu .nav-link:hover span {
  color: #903349;
}
.b_nav-menu .nav-link a {
  text-decoration: none;
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link a {
    color: #ffffff;
  }
}
.b_nav-menu .nav-link span {
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link span {
    color: #ffffff;
  }
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
  }
  .b_nav-menu .nav-link:hover a {
    color: #ffffff;
  }
}
.b_nav-menu .nav-link.active {
  cursor: default;
}
.b_nav-menu .nav-link.active a {
  color: #903349;
  cursor: default;
}
@media screen and (max-width: 960px) {
  .b_nav-menu .nav-link.active {
    background: #ffffff;
  }
}
.sub-menu-l2 .nav-link.device-menu-tab {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: none;
}
.sub-menu-l2 .nav-link.device-menu-tab:hover a {
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link.device-menu-tab {
    font-size: 28px;
  }
  .sub-menu-l2 .nav-link.device-menu-tab:hover a {
    color: #903349;
  }
  .sub-menu-l2 .nav-link.device-menu-tab:hover span {
    color: #903349;
  }
}
.sub-menu-l2 .nav-link.device-menu-tab a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link.device-menu-tab a {
    color: #ffffff;
  }
}
.sub-menu-l2 .nav-link.device-menu-tab span {
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .sub-menu-l2 .nav-link.device-menu-tab span {
    color: #ffffff;
  }
}
.languages a,
.languages span {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
}
.languages a:hover,
.languages span:hover {
  color: #903349;
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  .languages a,
  .languages span {
    color: #ffffff;
    font-size: 26px;
    line-height: 1.77;
  }
  .languages a:hover,
  .languages span:hover {
    color: #000000;
  }
}
@media screen and (max-width: 600px) {
  .languages a,
  .languages span {
    font-size: 20px;
  }
}
.languages .language-link.select a {
  color: #903349;
}
@media screen and (max-width: 960px) {
  .languages .language-link.select a {
    color: #ffffff;
  }
  .languages .language-link.select a:hover {
    color: #000000;
    text-decoration: none;
  }
}
/*s_services*/
.icon-title-services {
  text-transform: lowercase;
  color: #903349;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
}
/*s_articles*/
.cut-6-lines p {
  max-height: 138.24px;
}
/*s_footer*/
.phone-logo-inner {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: #903349;
  font-weight: 700;
  line-height: 1.15;
}
@media screen and (max-width: 800px) {
  .phone-logo-inner {
    font-size: 35.36px;
  }
}
.footer-info-inner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 1.35;
}
.footer-info-inner p {
  font-size: 20px;
  line-height: 1.35;
}
@media screen and (max-width: 800px) {
  .footer-ambulance p {
    font-size: 27.2px;
  }
}
.footer-phone-inner {
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .title-social {
    font-size: 24px;
    line-height: 1.08;
  }
}
/*SERVICES*/
/*s_page-content*/
.cut-4-lines p {
  max-height: 92.16px;
}
.txt-large {
  font-size: 24px;
  line-height: 1.33;
}
/*s_slogan*/
.s_slogan p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.333;
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .s_slogan p {
    font-size: 33px;
  }
}
@media screen and (max-width: 600px) {
  .s_slogan p {
    font-size: 30px;
  }
}
.s_slogan p span {
  font-weight: 700;
}
/*SELL-PAGE*/
/*s_slogan-with-img*/
.slogan-with-img p {
  font-size: 24px;
}
/*SELL-PAGE*/
/* s_four-column */
/* l-5-col */
.l-4-col p,
.l-5-col p {
  font-size: 14px;
}
.l-4-col .cut-6-lines p,
.l-5-col .cut-6-lines p {
  font-size: 14px;
  max-height: 120.96px;
}
.l-4-col .cut-4-lines p,
.l-5-col .cut-4-lines p {
  font-size: 14px;
  max-height: 80.64px;
}
/*section s_main-info*/
.s_main-info .image-inner {
  max-width: 32.022%;
  /*301/940*/
  margin: 0 10.639% 0 0;
  /* 100/940 */
}
@media screen and (max-width: 960px) {
  .s_main-info .image-inner {
    margin: 0 7% 0 0;
  }
}
@media screen and (max-width: 600px) {
  .s_main-info .image-inner {
    margin: 0;
  }
}
.s_main-info .description-inner {
  width: 48.937%;
  /* 460/940 */
  margin-top: -5px;
}
@media screen and (max-width: 960px) {
  .s_main-info .description-inner {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .s_main-info .description-inner {
    width: 100%;
    margin-top: 0;
  }
}
/*s_services*/
.s_services.gray {
  background: #f0f0f0;
}
.s_services.gray .b_section-title {
  background: #f0f0f0;
  color: #000000;
}
.b_nav-services {
  text-align: center;
  font-size: 0;
  margin: 0;
}
.service {
  display: inline-block;
  padding: 0;
  margin: 0 0.994% 1.596%;
  /*15/940*/
  width: 136px;
  border: 1px solid #f0f0f0;
}
.service:before {
  content: none;
}
.service:hover {
  border: 1px solid #903349;
}
.service a {
  display: block;
  text-decoration: none;
}
.service a:hover {
  text-decoration: none;
}
.icon-container-services {
  display: block;
  line-height: 90px;
}
.icon-container-services img {
  vertical-align: bottom;
}
.icon-title-services {
  display: block;
  padding: 10px 0 6px 0;
}
/*s_clients*/
.s_clients.maroon {
  background: #903349;
}
.s_clients.maroon .b_section-title {
  background: #903349;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .b_nav-clients {
    display: none;
  }
}
.b_nav-clients-mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .b_nav-clients-mobile {
    display: block;
  }
}
.clients-list a {
  display: inline-block;
  padding: 23px 8px;
}
.clients-list a img {
  width: 100%;
  height: auto;
}
/*SERVICES*/
/*s_page-content*/
.s_page-content.white {
  background: #ffffff;
}
.s_page-content .breadcrumbs {
  position: absolute;
  top: 15px;
}
@media screen and (max-width: 600px) {
  .s_page-content .breadcrumbs {
    position: relative;
    top: -25px;
  }
}
.s_page-content h1 {
  display: inline;
  padding: 0;
}
.s_page-content .image-inner {
  max-width: 23.405%;
  /*220/940*/
  margin: 0 10.639% 0 0;
  /* 100/940 */
}
@media screen and (max-width: 960px) {
  .s_page-content .image-inner {
    margin: 0 7% 0 0;
  }
}
@media screen and (max-width: 600px) {
  .s_page-content .image-inner {
    margin: 0;
  }
}
.s_page-content .description-inner {
  width: 65.956%;
  /* 620/940 */
}
@media screen and (max-width: 960px) {
  .s_page-content .description-inner {
    width: 69.595%;
  }
}
@media screen and (max-width: 600px) {
  .s_page-content .description-inner {
    width: 100%;
  }
}
.s_page-content .txt-large {
  margin-top: -7px;
}
@media screen and (max-width: 600px) {
  .s_page-content .txt-large {
    margin-top: 0;
  }
}
.back {
  display: inline-block;
  margin-right: 4.788%;
  /* 45/940 */
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.back:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.back img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .back {
    display: none;
  }
}
