@import "colours.less";
@import "breakpoints";
@import "mixins";
.btn{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  text-transform: lowercase;
  border: 1px solid @maroon;
  color: @maroon;
  background: transparent;
  padding: 12px 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  &:hover{
    background: @maroon;
    color: @white;
  }
  @media @mobile {
    padding: 12px 30px;
  }
}
a.btn{
  text-decoration: none;
  display: inline-block;
}
.slogan-btn{
  .btn {
    border: 1px solid @white;
    color: @white;
    &:hover{
      background: @white;
      color: @maroon;
    }
  }
}
