@import "colors.less";
@import "breakpoints";
@import "mixins";
.btn{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  text-transform: lowercase;
  border: 1px solid @maroon;
  color: @maroon;
  background: transparent;
  padding: 12px 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  &:hover{
    background: @maroon;
    color: @white;
  }
  @media @mobile {
    padding: 12px 30px;
  }
}
a, span{
  &.btn{
    text-decoration: none;
    display: inline-block;
    &:hover{
      text-decoration:none;
    }
  }
}
span{
  &.btn{
    cursor: default;
    &:hover {
        background:none;
        color:  @maroon;
    }
  }
}

button{
  &.btn{
    margin: 10px;
  }
}
.btn-white{
  color: @maroon;
  background: @white;
  &:hover{
    background: @maroon;
    color: @white;
  }
}
.btn-maroon{
  color: @white;
  background: @maroon;
  border: 1px solid @white;
  &:hover{
    background: @white;
    color: @maroon;
    border: 1px solid @maroon;
  }
}
.maroon{
  .btn-maroon {
    &:hover {
      border: 1px solid @white;
    }
  }
}
.btn-call-me{
    font-size: 17px;
    padding: 10px 15px;
}

