/*style for all*/
@import "colors.less";
@import "breakpoints";
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: @maroon;
  @media @tablet{
    font-size: 41px;
  }
  @media @mobile{
    font-size: 36px;
    line-height: 1.333;
}
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.333;
  color: @black;
  padding: 0 0 30px 0;
  @media @tablet{
    font-size: 33px;
  }
  @media @mobile{
    font-size: 30px;
  }
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: @maroon;
  line-height: 1.25;
  padding: 10px 0 30px 0;
  @media @tablet_small {
    padding: 10px 0 20px 0;
  }
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: @font-size;
  line-height: @line-height;
  @font-size: 16px;
  @line-height: 1.44;
  color:  @black;
  overflow: hidden;
  margin: 0 0 25px 0;
  @media @tablet_small {
    margin: 0 0 15px 0;
  }
}
.breadcrumbs {
  a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: @black;
    line-height: 1.44;
  }
}
.b_section-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

/*s-head*/
.slide-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    color: @black;
}
.b_nav-menu {
  .nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    &:hover > a {
      color: @maroon;
    }
    &:hover > span {
      color: @maroon;
    }
    @media @tablet {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 28px;
      &:hover > a {
        color: @white;
      }
    }
    a {
      text-decoration: none;
      color: @black;
      line-height: 1.2;
      @media @tablet {
        color: @white;
      }
    }
    span {
      color: @black;
      line-height: 1.2;
      @media @tablet {
        color: @white;
      }
    }
    &.active {
      cursor: default;
      > a {
        color: @maroon;
        cursor: default;
      }
      @media @tablet {
        background: @white;
      }
    }
  }
}
.sub-menu-l2 {
  .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: none;
    &:hover a{
      color: @white;
    }
    @media @tablet {
      font-size: 28px;
      &:hover a {
        color: @maroon;
      }
      &:hover span {
        color: @maroon;
      }
    }
    a {
      text-decoration: none;
      color: @black;
      line-height: 1.2;
      @media @tablet {
        color: @white;
      }
    }
    span {
      color: @black;
      line-height: 1.2;
      @media @tablet {
        color: @white;
      }
    }
  }
}

.languages{
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    color: @black;
    &:hover{
      color: @maroon;
    }
    @media @tablet {
      font-size: 26px;
      line-height: 1.77;
    }
    &.select{
      color: @maroon;
    }
  }
}

/*s_main-info*/
.s_main-info{
  h1 {
    font-weight: 300;
    @media @mobile{
      font-weight: 600;
    }
  }
}

/*s_services*/
.icon-title-services{
  text-transform: lowercase;
  color: @maroon;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
}

/*s_articles*/
.cut-6-lines{
  p{
    @lines-to-show: 6;
    @font-size: 16px;
    @line-height: 1.44;
    max-height: @font-size*@line-height*@lines-to-show;
  }
}
/*s_footer*/
.phone-logo-inner{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: @maroon;
  font-weight: 700;
  line-height: 1.15;
  @media @tablet_small {
    font-size: 35.36px;
  }
}
.footer-info-inner{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:  @black;
  line-height: 1.35;
}
.footer-info-inner{
  p {
    font-size: 20px;
    line-height: 1.35;
  }
}
.footer-ambulance{
  p{
    @media @tablet_small {
      font-size: 27.2px;
    }
  }
}
.footer-phone-inner{
  font-weight: 700;
}
.title-social{
  @media @mobile {
    font-size: 24px;
    line-height: 1.08;
  }
}

/*SERVICES*/
/*s_page-content*/
.cut-4-lines{
  p{
    @lines-to-show: 4;
    @font-size: 16px;
    @line-height: 1.44;
    max-height: @font-size*@line-height*@lines-to-show;
  }
}
.txt-large{
  font-size: 24px;
  line-height: 1.33;
}

/*s_slogan*/
.s_slogan{
  p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.333;
    color: @white;
    @media @tablet{
      font-size: 33px;
    }
    @media @mobile{
      font-size: 30px;
    }
    span{
      font-weight: 700;
    }
  }
}

/*SELL-PAGE*/
/*s_slogan-with-img*/
.slogan-with-img{
  p {
    font-size: 24px;
  }
}

/*SELL-PAGE*/
/* s_four-column */
.l-4-col {
  p{
    font-size: 14px;
  }
  .cut-6-lines {
    p {
      font-size: 14px;
      @lines-to-show: 6;
      @font-size: 14px;
      @line-height: 1.44;
      max-height: @font-size*@line-height*@lines-to-show;
    }
  }
  .cut-4-lines {
    p {
      font-size: 14px;
      @lines-to-show: 4;
      @font-size: 14px;
      @line-height: 1.44;
      max-height: @font-size*@line-height*@lines-to-show;
    }
  }
}
