@import "colours.less";
@import "breakpoints";
@import "mixins";

/*search-container*/
.search-container {
  float: right;
  padding-left: 17px;
  @media @tablet{
    padding-left: 10px;
  }
  @media @tablet_small {
    position: relative;
    top: 110px;
    text-align: center;
    float: none;
    padding-left: 0;
  }
}
.btn-search {
  position: relative;
  right: 2px;
  top: 0;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: transparent;
  vertical-align: bottom;
  cursor: pointer;
  z-index: 2;
  @media @tablet_small {
    right: 0;
    left: -33.334%;/*200/600*/
    top: 20px;
  }
}
.icon-search{
  display: block;
  background: url("../img/search_icon.png") no-repeat;
  width: 18px;
  height: 17px;
  /*ÍÅ ÍÓÆÍÎ   &:active.form_search{
    display: block;
  }
  &:hover.triangle-search
  &:active.triangle-search{
    display: block;
  }*/
  @media @tablet_small {
    background: url("../img/search_icon_tablet.png") no-repeat;
    width: 31px;
    height: 37px;
  }
}
.form-search{
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  .drop-shadow (0, 0, 10px, 0, 0.5);
  @media @tablet_small {
    top: 0;
    left: 0;
    margin: auto;
    .drop-shadow (0, 0, 0, 0, 0);
  }
  input{
    outline: none;
    border: none;
    padding: 5px;
    height: 35px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background: @white;
    width: 230px;
    @media @tablet_small {
      border: 2px solid @white;
      height: 53px;
      padding: 10px 5px 10px 50px;
      width: 66.667%;
      background: transparent;
      color: @white;
    }
  }
}
.triangle{
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  display: none;
}
.triangle:before {
  content: "";
  position: absolute;
  top: 43px;
  right: 5px;
  width: 25px;
  height: 25px;
  background: @white;
  transform: rotate(45deg);
  .drop-shadow (0, 0, 10px, 0, 0.5);
  @media @tablet_small {
    content: none;
  }
}
.triangle-nav{
  top: -10px;
  left: 25px;
  @media @tablet {
    left: 20px;
  }
}
.triangle-search{
  top: -50px;
  right: 5px;
  display: block;
}

/*icon-hamburger*/
.icon-hamburger {
  position: absolute;
  top: 16%;/* (55-35)/125 */
  right: 1.812%; /*10/552 */
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  z-index: 4;
  @media @tablet_small {
    display: block;
  }
}
.icon-hamburger span {
  display: block;
  position: absolute;
  top: 35px;
  left: 15px;
  right: 15px;
  height: 5px;
  background: @black;
  .transition(all 0.3s);
}
.icon-hamburger span::before,
.icon-hamburger span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background: @black;
  content: "";
  .transition-duration(0.3s);
  .transition-delay(0.1s);
}
.icon-hamburger span::before{
  top: -11px;
  transition-property: top, transform;
  -webkit-transition-property: top, -webkit-transform;
  -o-transition-property: top, -o-transform;
  -moz-transition-property: top, -moz-transform;
}
.icon-hamburger span::after {
  bottom: -11px;
  transition-property: bottom, transform;
  -webkit-transition-property: bottom, transform;
  -o-transition-property: bottom, transform;
  -moz-transition-property:bottom, transform;
}
.menu-hamburger {
  display: none;
}
.icon-hamburger span::before,
.icon-hamburger span::after{
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.menu-hamburger:checked ~ .icon-hamburger{
  background: @white;
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
}
.menu-hamburger:checked ~ .icon-hamburger span {
    background: none;
}
.menu-hamburger:checked ~ .icon-hamburger span::before,
.menu-hamburger:checked ~ .icon-hamburger span::after {
  .transition-delay(0.1s);
}
.menu-hamburger:checked ~ .icon-hamburger span::before{
  top: 0;
  .transform(rotate(45deg));
}
.menu-hamburger:checked ~ .icon-hamburger span::after {
    bottom: 0;
    .transform(rotate(-45deg));
}


/*ÏÎ×ÅÌÓ ÍÅ ÐÀÁÎÒÀÅÒ!!!!!!!!!!*/
.menu-hamburger:checked ~ .header-navigation {
  @media @tablet_small {
    right: 0;
  }
}
.menu-hamburger:checked ~ .overlay {
   @media @tablet_small {
     display: block;
   }
 }


.languages{
  position: absolute;
  top: 0;
  right: 1.042%;
  @media @tablet_small {
    top: 29%;
    right: 21.74%; /* 120/552 */
  }
  >a {
    display: none;
    @media @tablet_small {
      display: block;
    }
  }
  &:active.languages-drop-down{
    display: block;
  }
}
.languages-drop-down {
  /*display: none;*/
  position: absolute;
  top: 631px;
  right: 0;
  padding: 12px 12px 6px;
  width: 116px;
  text-align: center;
  background: @white;
  @media @tablet_small {
    top: 46px;
    right: 0;
    padding: 0;
    width: auto;
    background: transparent;
  }
  li {
    display: inline-block;
    a {
      padding: 0 7px;
      border: 1px solid #ffffff;
      &:hover{
        border: 1px solid @maroon;
      }
      @media @tablet_small {
        padding: 0;
        border: none;
        &:hover {
          border: none;
        }
      }
    }
    a.select{
      border: 1px solid @maroon;
    }
  }
}
