/*Style for all*/
@import "colors.less";
@import "mixins";
@import "breakpoints";

body {
  position: relative;
  overflow-x: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  z-index: 1;
  opacity: 0.6;
  display: none;
  visibility: hidden;
  @media @tablet {
    visibility: visible;
  }
  &.for-form-call-back {
    visibility: visible;
  }
}

section {
  &.white {
    background: @white;
    .b_section-title {
      background: @white;
      color: @black;
    }
  }
  &.gray {
    background: @gray;
    .b_section-title {
      background: @gray;
      color: @black;
    }
  }
  &.maroon {
    background: @maroon;
    color: @white;
    p {
      color: @white;
    }
    .b_section-title {
      background: @maroon;
      color: @white;
    }
  }
  &.bg-line {
    background: linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
    background: -webkit-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -webkit-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
    background: -moz-linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -moz-linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
    background: -ms-linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -ms-linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
    background: -o-linear-gradient(to left top, rgba(255, 255, 255, 0) 48.9%, #ffffff 51%, #ffffff 78%, rgba(255, 255, 255, 0) 80%), -o-linear-gradient(to left top, #ffffff 28%, rgba(255, 255, 255, 0) 30%);
    .background-size (6px 6px);
    background-color: rgba(204, 204, 204, 0.6);
  }
  img {
    max-width: 100%;
  }
}

.b_section-title {
  position: absolute;
  top: -23px;
  width: 140px;
  padding: 8px 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.l_content-wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  @media @tablet{
    width: 100%;
  }
}

.section-content {
  padding: 60px 10px;
  position: relative;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  @media @tablet{
    padding: 40px 10px;
  }
  @media @mobile{
    padding: 20px 10px;
  }
}

.b_cut-width {
  width: 82.98%; /* 780/940 */
  margin: 0 auto;
  @media @mobile {
    width: 100%;
  }
}

hr {
  margin: 0;
  border-top: 1px solid @black;
}

.description-inner {
  &.full {
    p {
      max-height: inherit;
      height: auto;
    }
  }
}

.breadcrumbs {
  margin: 0;
  padding: 30px 10px 0 10px;
  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: @black;
    line-height: 1.44;
    @media @mobile {
      font-size: 16px;
    }
  }
  li {
    display: inline-block;
    list-style: none;
    padding: 0;
    &:before {
      content: '/';
      width: inherit;
      height: inherit;
      background: inherit;
      margin-right: 0;
      padding: 0 6px;
      vertical-align: baseline;
      @media @mobile {
        padding: 0 3px;
      }
    }
    &:first-child {
      &:before {
        content: none;
      }
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.image-inner {
  padding: 0 0 25px 0;
  a {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    max-width: 460px;
  }
  @media @tablet_small {
    padding: 0 0 10px 0;
  }
  &.icon-inner {
    img {
      width: auto;
    }
  }
  &.portrait-inner {
    img {
      max-width: 320px;
    }
  }
}

ul {
  list-style: none;
  li {
    padding: 5px 0;
    &:before {
      content: "";
      width: 5px;
      height: 5px;
      background: @black;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

.check{
  li{
    &:before {
      font-family: 'FontAwesome',sans-serif;
      background: transparent;
      vertical-align: baseline;
      width: auto;
      height: auto;
    }
  }
}

ol {
  list-style: none;
  counter-reset: li;
  padding: 0;
  li {
    padding: 5px 0;
    &:before {
      content: counter(li) ".";
      counter-increment: li;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.call-back {
  &.gray {
    background: @gray;
  }
  text-align: center;
  padding: 30px 5px;
  margin: 0 0 30px 0;
  h6 {
    padding: 0;
  }
}

.call-service {
  padding: 25px 20px 15px;
  text-align: left;
  border: 2px solid @maroon;
  li {
    padding: 0;
  }
}

.l_item {
  padding: 30px 0; /* 70/960 */
  overflow: hidden;

  &:last-child {
    padding: 30px 0 0 0;
  }
  @media @mobile {
    padding-top: 10px;
  }
}

/*s-head*/
.main-slider-slide {
  overflow: hidden;
  position: relative;
  height: 660px;
  @media @tablet {
    height: 700px;
  }
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    min-width: 1600px;
    @media @tablet {
      width: auto;
      height: 100%;
    }
  }
}

.b_inner-slider {
  padding: 0 0 50px 0;
}

.inner-slide-img {
  img {
    width: 100%;
    height: auto;
  }
}

.slide-description {
  max-width: 450px;
  width: 50%;
  position: absolute;
  top: 160px;
  right: 10px;
  min-width: 300px;
  max-height: 460px;
  background: rgba(255, 255, 255, 0.7);
  padding: 35px 15px 25px;
  text-align: right;
  .box-sizing(border-box);
  overflow: hidden;
  @media @tablet{
    max-width: 45%;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.slide-title {
  margin: 0 0 35px 0;
  max-height: 317px;
  text-align: right;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.b_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @media @tablet {
    background-color: @hex_gray;
  }
}

.s-head {
  .section-content {
    padding: 30px 10px;
    @media @mobile{
      padding: 22px 10px;
    }
  }
}

.site-logo {
  width: 205px;
  float: left;
  @media @tablet {
    width: 230px;
  }
  @media @mobile {
    width: 180px;
  }
  a {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}

.header-navigation {
  position: relative;
  top: 30px;
  float: right;
  @media @tablet {
    width: 70%;
    background: @maroon;
    height: 290px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    float: none;
    display: block;
    visibility: hidden;
  }
  @media @mobile {
    width: 100%;
  }
  nav {
    float: right;
    position: relative;
    @media @tablet{
      float: none;
      top: 150px;
    }
  }
  .open-icon-hamburger {
    display: block;
  }
  .close-icon-hamburger {
    display: none;
    visibility: hidden;
    @media @tablet {
      visibility: visible;
    }
  }
  &.show-navigation {
    visibility: visible;
    .open-icon-hamburger {
      display: none;
    }
    .close-icon-hamburger {
      display: block;
    }
  }
}

.b_nav-menu {
  overflow: hidden;
  margin: 0;
  .disable-link {
    position: relative;
    &:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  .nav-link {
    &:before {
      content: none;
    }
    display: block;
    float: left;
    cursor: pointer;
    padding: 0 18px 20px 18px;
    &:last-child {
      padding: 0 0 20px 18px;
    }
    &:hover .sub-menu-l2 {
      display: block;
    }
    &:hover .triangle-nav {
      display: block;
    }
    @media @tablet{
      display: none;
    }
    &.device-menu-tab {
      @media @tablet {
        display: block;
        padding: 15px 1%;
        text-align: center;
        width: 48%;
        border-bottom: 3px solid @white;
        &:hover {
          .sub-menu-l2 {
            display: none;
          }
        }

        &.active {
          .sub-menu-l2 {
            display: block;
          }
        }

        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 95%;
          display: block;
          font-family: "Open Sans", sans-serif;
          font-size: 22px;
        }
      }
      &.mobile {
        display: none;
        @media @tablet{
          display: block;
        }
      }
    }
  }
}

.sub-menu-l2 {
  display: none;
  position: absolute;
  top: 40px;
  left: -85px;
  width: 260px;
  .drop-shadow (0, 0, 10px, 0, 0.5);

  @media @tablet {
    width: 100%;
    top: 59px;
    left: 0;
    right: 0;
  }

  .nav-link {
    display: block;
    float: none;
    background: @white;
    padding: 0;
    border-bottom: 1px solid @hex_gray;
    text-align: left;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
      padding: 0;
    }

    &:hover {
      background: @maroon;
    }

    a, span {
      display: block;
      padding: 13px 20px;
      font-size: 26px;
    }
    &.device-menu-tab {
      @media @tablet {
        text-align: left;
        width: 100%;
        border-bottom: none;
        background: @maroon;
        padding: 0;
        &:hover {
          background: @white;
        }

        a {
          overflow: inherit;
          text-overflow: initial;
          white-space: pre-line;
          width: 100%;
          word-wrap: break-word;
        }
      }
    }
  }
}

/*languages*/
.languages {
  position: absolute;
  top: 0;
  right: 10px;
  @media @tablet {
    top: 50%;
    margin-top: -23px;/* 46/2*/
    right: 25%;
  }
  @media @mobile {
    margin-top: -17px;/*35/2*/
  }
  .languages-open {
    background: @maroon;
    padding: 0 10px;
    display: none;
  }
  @media @tablet {
    .languages-open {
      display: block;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.languages-drop-down {
  display: block;
  position: absolute;
  top: 631px;
  right: 0;
  padding: 12px 12px 6px;
  width: 116px;
  text-align: center;
  background: @white;
  margin: 0;
  z-index: 100;

  @media @tablet {
    top: 50px;
    right: 24.5%;
    padding: 0;
    width: auto;
    background: @maroon;
    z-index: auto;

    &.languages-drop-down-open {
      top: 0;

      .language-link {
        display: block;

        a {
          border: none;
        }
      }
    }
  }

  @media @mobile {
    top: 35px;
  }

  .language-link {
    display: inline-block;
    padding: 0;

    a {
      display: inline-block;
      border: 1px solid #ffffff;
      padding: 5px 7px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: @black;

      &:hover {
        color: @maroon;
        text-decoration: none;
        border: 1px solid @maroon;
      }
    }

    &:before {
      content: none;
    }

    @media @tablet {
      border: none;
      display: none;

      a {
        color: @white;
        font-size: 26px;
        padding: 4px 9px;

        &:hover {
          color: @white;
        }
      }

      &:hover {
        border: none;
        color: @white;
      }
    }

    @media @mobile {
      border: none;
      display: none;

      a {
        color: @white;
        font-size: 20px;
        padding: 3px 9px;

        &:hover {
          color: @white;
          border: none;
        }
      }
    }

    &.select {
      display: inline-block;

      a {
        border: 1px solid @maroon;
        color: @maroon;

        @media @tablet {
          color: white;
        }

        &:hover {
          cursor: default;
        }
      }

      @media @tablet {
        border: none;
      }
    }
  }
}

/*search-container*/
.search-container {
  float: right;
  padding-left: 26px;
  @media @tablet {
    position: relative;
    top: 90px;
    text-align: center;
    float: none;
    padding-left: 0;
  }
}

.btn-search {
  position: relative;
  right: 2px;
  top: -10px;
  padding: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  vertical-align: bottom;
  cursor: pointer;
  z-index: 2;
  @media @tablet {
    background: transparent;
    padding: 0;
    right: 0;
    left: -33.334%;/*200/600*/
    top: 14px;
  }
}

.icon-search {
  display: block;
  background: url("../img/search_icon.png") no-repeat;
  width: 18px;
  height: 17px;
  @media @tablet {
    background: url("../img/search_icon_tablet.png") no-repeat;
    width: 31px;
    height: 37px;
  }
}

.form-search {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  .drop-shadow (0, 0, 10px, 0, 0.5);
  &.active {
    display: block;
  }
  @media @tablet {
    display: block;
    top: 0;
    left: 0;
    margin: auto;
    .drop-shadow (0, 0, 0, 0, 0);
  }
  input {
    outline: none;
    border: none;
    padding: 5px;
    height: 35px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background: @white;
    width: 230px;
    @media @tablet{
      border: 2px solid @white;
      height: 40px;
      padding: 10px 5px 10px 50px;
      width: 66.667%;
      background: transparent;
      color: @white;
    }
  }
  @media @mobile {
    display: block;
  }
}

.triangle {
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  display: none;
}

.triangle:before {
  content: "";
  position: absolute;
  top: 43px;
  right: 5px;
  width: 25px;
  height: 25px;
  background: @white;
  transform: rotate(45deg);
  .drop-shadow (0, 0, 10px, 0, 0.5);
  @media @tablet{
    content: none;
  }
}

.triangle-nav {
  top: -10px;
  left: 7px;
}

.triangle-search {
  top: -50px;
  right: 5px;
  display: block;
}

/*icon-hamburger*/
.icon-hamburger {
  z-index: 4;
  position: absolute;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;

  span {
    display: block;
    height: 5px;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 35px;
    background: @black;

    &:after,
    &:before {
      display: block;
      position: absolute;
      width: 100%;
      height: 5px;
      background: @black;
      content: "";
    }

  }

}

.open-icon-hamburger {
  visibility: hidden;
  background: transparent;
  top: 35px;
  right: 10px;
  width: 66px;
  @media @tablet {
    visibility: visible;
  }
  @media @mobile {
    top: 16px;
  }
  span {
    &:before {
      top: -11px;
    }
    &:after {
      bottom: -11px;
    }
  }
}

.close-icon-hamburger {
  background: @white;
  top: 0;
  right: 0;
  span {
    background: none;
    left: 17px;
    right: 10px;
    top: 28px;
    &:before {
      top: 0;
      .transform(rotate(45deg));
    }
    &:after {
      bottom: 0;
      .transform(rotate(-45deg));
    }
  }
}

/*SELL-PAGE*/
/*s-head*/
.slide-info {
  position: absolute;
  left: 50%;
  top: 50%;
  .transform (translate(-50%, -50%));
  width: 73.438%; /* 705/960 */
  min-width: 300px;
  height: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 45px 50px 30px;
  .box-sizing(border-box);
  overflow: hidden;
  @media @tablet {
    padding: 35px 15px 25px;
  }
}

/*section s_main-info*/
.b_with-left-image {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .image-inner {
    float: left;
    margin: 0 10.639% 0 0;
    max-width: 23.405%;
    @media @mobile{
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
  .description-inner {
    float: left;
    text-align: left;
    width: 65.956%;
    @media @mobile{
      float: none;
      width: 100%;
    }
  }
  .l_columns-inner {
    .col {
      font-size: 16px;
      @media @mobile {
        width: 50%;
        padding: 0 10px;
        margin-left: -10px;
      }
    }
    .image-inner {
      max-width: inherit;
      margin: 0;
      @media @mobile {
        display: block;
      }
    }
  }
}

/*s_articles*/
.s_articles {
  h2 {
    text-align: center;
  }
}

.l_columns-inner {
  margin: 0 0 0 -10px;
  font-size: 0;
  text-align: left;
  @media @mobile {
    margin: 0;
  }
  .col {
    &:before {
      content: none;
    }
    text-align: left;
    vertical-align: top;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 35px;
    .box-sizing(border-box);
    .image-inner {
      width: 100%;
    }
    @media @tablet_small {
      margin-bottom: 20px;
    }
    @media @mobile{
      padding: 0;
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
  &.title-with-bullet {
    h3 {
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        background: @maroon;
        .border-radius (8px);
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.l-1-col {
  margin: 0;
  .col {
    width: 100%;
    padding: 0;
  }
  img {
    max-width: inherit;
  }
}

.l-2-col {
  .col {
    width: 50%;
    @media @mobile{
      width: 100%;
    }
  }
}

.l-3-col {
  .col {
    width: 33.33333%;
    @media @tablet_small{
      width: 50%;
    }
    @media @mobile{
      width: 100%;
    }
  }
}

.l-4-col {
  .col {
    width: 25%;
    @media @tablet {
      width: 50%;
    }
    @media @mobile{
      width: 100%;
    }
    .btn {
      padding: 10px 15px;
      font-size: 18px;
      @media @tablet {
        padding: 12px 40px;
        font-size: 20px;
      }
    }
  }
}

.l-5-col {
  .col {
    width: 20%;
    @media @tablet {
      width: 33.33333%;
    }
    @media @tablet_small {
      width: 50%;
    }
    @media @mobile{
      width: 100%;
    }
    .btn {
      padding: 7px 10px;
      font-size: 16px;
      @media @tablet {
        padding: 12px 40px;
        font-size: 17px;
      }
    }
  }
}

.l-4-col,
.l-5-col {
  li {
    font-size: 14px;
    line-height: 1.2;
  }
  .cut-6-lines {

    li {
      font-size: 14px;
      @lines-to-show: 6;
      @font-size: 14px;
      @line-height: 1.44;
      max-height: @font-size*@line-height*@lines-to-show;
    }
  }
  .cut-4-lines {
    li {
      font-size: 14px;
      @lines-to-show: 4;
      @font-size: 14px;
      @line-height: 1.44;
      max-height: @font-size*@line-height*@lines-to-show;
    }
  }
}

.l_columns-inner {
  &.hidden-col {
    .col {
      @media @tablet_small {
        &:last-child {
          display: none;
        }
      }
      @media @mobile {
        &:last-child {
          display: inline-block;
        }
      }
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  @media @mobile {
    padding-bottom: 65%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 480px;
    @media @mobile {
      width: 85%;
    }
  }
  &.full-screen {
    iframe {
      max-width: inherit;
      @media @mobile {
        width: 100%;
      }
    }
  }
}

.back {
  display: inline-block;
  margin-right: 4.788%;
  .transition(all 0.1s ease-in-out);
  &:hover {
    .scale(1.1);
  }
  img {
    width: 100%;
    height: auto;
  }
  @media @mobile {
    display: none;
  }
}

.artimg {
  float: left;
  width: 250px;
  margin: 0 20px 14px 0;
}

.video-wrapper {
  padding-bottom: 69%;
  @media @tablet_small {
    padding-bottom: 75%;
  }
  @media @mobile {
    padding-bottom: 65%;
  }
}

/*SELL-PAGE*/
/* s_align-center */
.s_align-center {
  text-align: center;
  .l_columns-inner {
    .col {
      text-align: center;
    }
  }
}

/*DOCTORS*/

.p_doctors {
  @media @mobile {
    text-align: center;
  }
  .l_columns-inner {
    padding-bottom: 30px;
    @media @tablet_small {
      padding-bottom: 20px;
    }
    img {
      max-width: 320px;
    }
    .col {
      @media @mobile {
        text-align: center;
      }
    }
  }
}

/*s_footer*/
.b_nav-footer {
  margin: 0;
  text-align: center;
  position: relative;
  @media @tablet_small {
    height: 845px;
  }
  @media @mobile {
    padding: 0 0 260px 0;
    height: auto;
  }
  li {
    &:before {
      content: none;
    }
    width: 31.9%;
    max-width: 300px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    padding: 0 0 0 2.128%; /* 20/940 */
    margin-left: -4px;
    &:first-child {
      padding: 0;
      margin-left: 0;
    }
    @media @tablet_small{
      width: 48%;
      &:last-child {
        position: absolute;
        top: 430px;
        left: 49.5%;
      }
    }
    @media @mobile{
      width: 300px;
      padding: 0 0 7.759% 0;/* 45/580 */
      &:last-child {
        position: static;
        padding: 0;
      }

      &:first-child {
        padding: 0 0 7.759% 0; /* 45/580 */
      }
    }
    h3 {
      padding: 10px 0 0;
    }
    a {
      display: block;
      padding: 0 0 35px 0;
      &:last-child {
        padding: 0;
      }
      @media @tablet_small {
        padding: 0 0 45px 0;
      }
    }
    img {
      width: 73.37%; /*220/300*/
      height: auto;
      vertical-align: bottom;
      @media @mobile {
        width: 80%;
      }
    }
  }
  .some-logo {
    padding: 45px 0 0 0;
    @media @tablet_small {
      position: absolute;
      top: 430px;
      padding: 0;
      max-width: 300px;
      width: 48%;
    }
    @media @mobile {
      top: inherit;
      bottom: 0;
      width: 100%;
    }
  }
}

.footer-info-inner {
  p {
    margin: 0;
  }
}

.phone-logo-inner {
  padding: 0 0 20px 0;
}

.map-container {
  iframe {
    width: 100%;
    max-width: 300px;
    vertical-align: bottom;
  }
}

.content-address-photo {
  padding: 0 0 35px 0;
}

a {
  &.footer-info-inner {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.b_social-icons {
  overflow: hidden;
  @media @tablet_small {
    position: relative;
    top: 0;
    left: 51%;
    display: inline-block;
  }
  @media @mobile {
    position: static;
    text-align: center;
    display: block;
  }
}

.social-icons-container {
  float: right;
  padding-top: 35px;
  @media @tablet_small {
    float: none;
    text-align: left;
    padding-top: 45px;
    display: inline-block;
  }
  @media @mobile {
    width: 300px;
  }
}

.title-social {
  display: inline-block;
  vertical-align: middle;
  @media @tablet_small {
    display: block;
    padding-bottom: 25px;
  }
}

.b_nav-social {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  li {
    &:before {
      content: none;
    }
    float: left;
    padding: 0 0 0 20px;
    list-style: none;
    @media @tablet_small {
      &:first-child {
        padding: 0;
      }
    }
    a {
      display: block;
      .transition(all 0.1s ease-in-out);
      &:hover {
        .scale(1.1);
      }
      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }
  }
}

/*SELL-PAGE*/
/*s_footer-example*/
.sell-page-footer {
  h3 {
    float: left;
    @media @tablet_small {
      float: none;
    }
  }
  .b_nav-btn {
    display: inline-block;
    list-style: none;
    margin: 0;
    float: right;
    li {
      &:before {
        content: none;
      }
      padding: 0 0 5px 0;
      &:last-child {
        padding: 0;
      }
    }
    @media @tablet_small {
      float: none;
    }
  }
}

.s_with-left-img {
  .image-inner {
    max-width: 40%;
    margin: 0 10% 0 0;
    float: left;
    @media @mobile {
      margin: 0;
      max-width: 100%;
      width: 100%;
      text-align: center;
    }
  }
  .description-inner {
    width: 50%;
    float: left;
    @media @mobile {
      width: 100%;
    }
  }
}

.floated-image {
  float: left;
  line-height: 1;
  margin-bottom: 6%;
  margin-right: 8%;
}

.highlight {
  color: @maroon;
  font-weight: 600;
}

.form-call-back {
  z-index: 4;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  .transform (translate(-50%, -50%));
  width: 25%;
  min-width: 200px;
  padding: 60px 40px;
  text-align: center;
  background: @white;
  .drop-shadow (0, 0, 15px, 0, 0.8);
  div {
    padding-bottom: 20px;
  }
  label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 5px;
    display: block;
    color: @black;
    width: 100%;
    text-align: left;
  }
  #name,
  #phone {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
    border: 0;
    outline: 0;
    width: 100%;
    .drop-shadow (0, 0, 5px, 0, 0.5);
    .box-sizing(border-box);
  }
  &.show-form-call-back {
    display: block;
  }
}

/*icon-form-close*/
.icon-form-close {
  width: 32px;
  height: 32px;
  .border-radius (16px);
  background: @black;
  position: absolute;
  top: -16px;
  right: -16px;
  z-index: 4;
  border: none;
  outline: none;
  cursor: pointer;

  span {
    top: 15px;
    display: block;
    position: absolute;
    left: 7px;
    right: 7px;
    height: 3px;
    background: none;

    &:before,
    &:after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: @white;
      content: "";
    }
    &:before {
      top: 0;
      .transform(rotate(45deg));
    }
    &:after {
      bottom: 0;
      .transform(rotate(-45deg));
    }
  }

}
