/*Style for all*/
@import "colors.less";
@import "mixins";
@import "breakpoints";

body{
  position: relative;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  z-index: 1;
  opacity: 0.6;
  display: none;
}
.l_content-wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  @media @tablet{
    width: 100%;
  }
}
.section-content{
  padding: 60px 10px;
  position: relative;
  &:after {
    /*убираем схлопывание*/
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  @media @mobile{
    padding: 40px 10px;
  }
}
hr{
  margin: 0;
  border-top: 1px solid @black;
}
.description-inner {
  &.full {
    p {
      max-height: inherit;
      height: auto;
    }
  }
}
.map-container{
    padding: 0 0 25px 0;
}
.b_section-title{
  position: absolute;
  top: -23px;
  width: 140px;
  padding: 8px 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.breadcrumbs {
  li{
    display: inline-block;
    list-style: none;
    &:before{
      content: '/';
    }
    &:first-child{
      &:before{
        content: none;
      }
    }
    a {
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.image-inner{
  padding: 0 0 25px 0;
  a{
    display: block;
  }
  img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
    max-width: 460px;
  }
  @media @tablet_small {
    padding: 0 0 10px 0;
  }
}
/*s-head*/
.main-slider-slide{
  overflow: hidden;
  position: relative;
  height: 660px;
  @media @tablet {
    height: 700px;
  }
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    min-width: 1600px;
    @media @tablet {
      width: auto;
      height: 100%;
    }
  }
}
.slide-description {
  position: absolute;
  top: 160px;
  right: 10px;
  min-width: 300px;
  max-width: 45%;
  max-height: 460px;
  background: rgba(255, 255, 255, 0.7);
  padding: 35px 15px 25px;
  text-align: right;
  .box-sizing(border-box);
  overflow: hidden;
  @media @tablet{
    right: 0;
    left: 0;
    margin: auto;
  }
}
.slide-title{
  margin: 0 0 35px 0;
  max-height: 317px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.b_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @media @tablet {
    background-color: @hex_gray;
  }
}
.s-head{
  .section-content{
    padding: 30px 10px;
    @media @mobile{
      padding: 20px 10px;
    }
  }
}
.site-logo{
  width: 205px;
  float: left;
  @media @tablet {
    width: 230px;
  }
  @media @mobile {
    width: 39.656%;/* 230/580 */
    min-width: 170px;
  }
  a{
    display: block;
  }
  img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}
.header-navigation {
  position: relative;
  top: 30px;
  float: right;
  @media @tablet {
    width: 70%;
    background: @maroon;
    height: 290px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    float: none;
    display: block;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
  }
  @media @mobile {
    width: 100%;
  }
  nav {
    float: right;
    position: relative;
    @media @tablet{
      float: none;
      top: 185px;
    }
  }
}
.show-navigation{
  visibility: visible;
}
.b_nav-menu {
  overflow: hidden;
  > li {
    float: left;
    cursor: pointer;
    padding: 0 18px 20px 18px;
    &:last-child{
      padding: 0 0 20px 18px;
    }
    /*&:hover .sub-menu-l2 {
      display: block;
    }*/
    &:hover .triangle-nav {
      display: block;
    }
    @media @tablet{
      padding: 15px 1%;
      text-align: center;
      width: 48%;
      border-bottom: 3px solid @white;
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        display: none;
      }
      &:hover {
        background: @white;
      }
      &:hover .sub-menu-l2 {
        display: none;
      }
    }
    a {
      @media @tablet {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 95%;
        display: block;
      }
    }
  }
}
.sub-menu-l2{
  display: none;
  position: absolute;
  top: 40px;
  left: -85px;
  width: 260px;
  .drop-shadow (0, 0, 10px, 0, 0.5);
  @media @tablet {
    width: 100%;
  }
  li{
    background: @white;
    padding: 13px 20px;
    border-bottom: 1px solid @hex_gray;
    text-align: left;
    cursor: pointer;
    :last-child{
      border-bottom:none;
    }
    &:hover{
      background: @maroon;
    }
    @media @tablet{
      border-bottom: none;
      background: @maroon;
      padding: 15px 20px;
      &:hover{
        background: @white;
      }
    }
    a{
      white-space: pre-line;
    }
  }
  @media @tablet {
    top: 66px;
    left: 0;
    right: 0;
  }
  &.active{
    @media @tablet{
      display: block;
    }
  }
}
.mobile-item{
  display: none;
  @media @tablet{
    display: block;
  }
}















/*SELL-PAGE*/
/*s-head*/
.slide-info {
  position: absolute;
  left: 50%;
  top: 50%;
  .transform ( translate(-50%, -50%));
  width: 90%;
  height: auto;
  max-height: 400px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 50px 0;
  .box-sizing(border-box);
  overflow: hidden;
  h2{
    padding: 2.315% 0 5.788% 0; /* 20/(960-10%)  50/864 */
  }
  .slide-info-inner{
    overflow: hidden;
    max-height: 265px;
  }
}

/*section s_main-info*/
.b_with-left-image{
  .image-inner {
    float: left;
    @media @mobile{
      display: none;
    }
  }
  .description-inner {
    float: left;
    text-align: left;
    @media @mobile{
      width: 100%;
      padding: 0;
    }
  }
}

/*s_articles*/
.s_articles {
  &.gray {
    background: @gray;
    .b_section-title {
      background: @gray;
      color: @black;
    }
  }
  &.white {
    background: @white;
    .b_section-title {
      background: @white;
      color: @black;
    }
  }
  h2{
    text-align: center;
  }
}
.l_columns-inner {
  margin-left: -10px;
  font-size: 0;
  text-align: left;
  @media @mobile {
    margin-left: 0;
  }
  .col {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 35px;
    .box-sizing(border-box);
    .image-inner {
      width: 100%;
    }
    @media @tablet_small {
      margin-bottom: 20px;
    }
    @media @mobile{
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.title-with-bullet {
    h3 {
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        background: @maroon;
        .border-radius (8px);
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
.l-2-col {
  .col {
    width: 50%;
    @media @mobile{
      width: 100%;
    }
  }
}
.l-3-col {
  .col {
    width: 33.33333%;
    @media @tablet_small{
      width: 50%;
    }
    @media @mobile{
      width: 100%;
    }
  }
}
.l-4-col{
  .col{
    width: 25%;
    @media @tablet {
      width: 50%;
    }
    @media @mobile{
      width: 100%;
    }
    .btn{
      padding: 10px 15px;
      font-size: 18px;
      @media @tablet {
        padding: 12px 40px;
        font-size: 20px;
      }
    }
  }
}
.l_columns-inner {
  &.hidden-col{
    .col{
      @media @tablet_small {
        &:last-child {
          display: none;
        }
      }
      @media @mobile {
        &:last-child {
          display: inline-block;
        }
      }
    }
  }
}
.video-wrapper{
  position: relative;
  padding-bottom: 75%;
  height: 0;
  @media @mobile {
    padding-bottom: 65%;
  }
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media @mobile {
      width: 85%;
    }
  }
}

/*SELL-PAGE*/
/* s_about-doctors */
.s_about-doctors{
  &.white{
    background: @white;
  }
  text-align: center;
  .l_columns-inner{
    .col{
      text-align: center;
    }
    img{
      max-width: 320px;
    }
  }
}

/*s_footer*/
.s_footer {
  &.white {
    background: @white;
    .b_section-title {
      background: @white;
      color: @black;
    }
  }
}
.b_nav-footer {
  text-align: center;
  position: relative;
  @media @tablet_small {
    height: 845px;
  }
  @media @mobile {
    padding: 0 0 260px 0;
    height: auto;
  }
  li {
    width: 31.9%;
    max-width: 300px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    padding: 0 0 0 2.128%; /* 20/940 */
    margin-left: -4px;
    &:first-child{
      padding: 0;
      margin-left: 0;
    }
    @media @tablet_small{
      width: 48%;
      &:last-child{
        position: absolute;
        top: 430px;
        left: 49.5%;
      }
    }
    @media @mobile{
      width: 300px;
      padding: 0 0 7.759% 0;/* 45/580 */
      &:last-child {
        position: static;
        padding: 0;
      }
      &:first-child {
        padding: 0 0 7.759% 0;/* 45/580 */
      }
    }
    h3 {
      padding: 10px 0 0;
    }
    a {
      display: block;
      padding: 0 0 35px 0;
      &:last-child {
        padding: 0;
      }
      @media @tablet_small {
        padding: 0 0 45px 0;
      }
    }
    img {
      width: 73.37%;/*220/300*/
      height: auto;
      vertical-align: bottom;
      @media @mobile {
        width: 80%;
      }
    }
  }
  .some-logo {
    padding: 45px 0 0 0;
    @media @tablet_small {
      position: absolute;
      top: 430px;
      padding: 0;
      max-width: 300px;
      width: 48%;
    }
    @media @mobile {
      top: inherit;
      bottom: 0;
      width: 100%;
    }
  }
}
.footer-info-inner{
  p {
    margin: 0;
  }
}
.phone-logo-inner{
  padding: 0 0 20px 0;
}
.map-container{
  iframe{
    width: 100%;
    max-width: 300px;
    vertical-align: bottom;
  }
}
.content-address-photo{
  padding: 0 0 35px 0;
}
a.footer-info-inner&:hover{
  text-decoration: none;
}
.b_social-icons {
  overflow: hidden;
  @media @tablet_small {
    position: relative;
    top: 0;
    left: 51%;
    display: inline-block;
  }
  @media @mobile {
    position: static;
    text-align: center;
    display: block;
  }
}
.social-icons-container{
  float: right;
  padding-top: 35px;
  @media @tablet_small {
    float:none;
    text-align: left;
    padding-top: 45px;
    display: inline-block;
  }
  @media @mobile {
    width: 300px;
  }
}
.title-social{
  display: inline-block;
  vertical-align: middle;
  @media @tablet_small {
    display: block;
    padding-bottom: 25px;
  }
}
.b_nav-social{
  display: inline-block;
  vertical-align: middle;
  li{
    float: left;
    padding-left: 20px;
    list-style: none;
    @media @tablet_small {
      &:first-child{
        padding-left: 0;
      }
    }
    a{
      display: block;
      .transition(all 0.1s ease-in-out);
      &:hover{
        .scale(1.1);
      }
      img{
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }
  }
}

/*SELL-PAGE*/
/*s_footer-example*/
.s_footer-example {
  &.white {
    background: @white;
  }
  h3{
    float: left;
    @media @tablet_small {
      float: none;
    }
  }
  .b_nav-btn{
    float: right;
    @media @tablet_small {
      float: none;
    }
  }
}
.b_nav-btn{
  display: inline-block;
  list-style: none;
  li{
    padding: 0 0 5px 0;
    &:last-child{
      padding: 0;
    }
  }
}

/*s_slogan*/
.s_slogan {
  &.white {
    background: @white;
  }
  &.maroon {
    background: @maroon;
    .btn-maroon {
      &:hover {
        border: 1px solid @white;
      }
    }
  }
  p {
    margin: 0 auto;
    width: 77.66%;
    @media @tablet{
      width: 90%;
    }
    @media @mobile {
      width: 100%;
    }
  }
}
.slogan-btn{
  text-align: center;
}

/*SELL-PAGE s_slogan*/
/*s_slogan-with-img*/
.slogan-with-img{
  .image-inner{
    margin: 0 auto;
    width: 17.554%; /* 165/940*/
    min-width: 100px;
    img{
      border-radius: 50%;
    }
  }
}

/*s_left-img-float*/
.s_left-img-float{
  &.white{
    background: @white;
  }
  .image-inner {
    width: 40%;
  }
  .description-inner {
    width: 55%;
    padding: 0 0 0 5%;
    margin-top: -11px;
    @media @mobile {
      width: 100%;
      padding: 0;
      margin-top: 0;
    }
  }
}




