@import "colors.less";
@import "mixins";
@import "breakpoints";
@import "fonts";
/*section s_main-info*/
.s_main-info {
  .image-inner {
    max-width: 32.022%; /*301/940*/
    margin: 0 10.639% 0 0; /* 100/940 */
    @media @tablet{
      margin: 0 7% 0 0;
    }
    @media @mobile {
      margin: 0;
    }
  }
  .description-inner {
    width: 48.937%; /* 460/940 */
    margin-top: -5px;
    @media @tablet{
      width: 60%;
    }
    @media @mobile {
      width: 100%;
      margin-top: 0;
    }
  }
}

/*s_services*/
.s_services {
  &.gray {
    background: @gray;
    .b_section-title {
      background: @gray;
      color: @black;
    }
  }
}
.b_nav-services {
  text-align: center;
  font-size: 0;
  margin: 0;
}
.service{
  &:before{
    content: none;
  }
  display: inline-block;
  padding: 0;
  margin: 0 0.994% 1.596%; /*15/940*/
  width: 136px;
  border: 1px solid @gray;
  &:hover {
    border: 1px solid @maroon;
  }
  a {
    display: block;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
.icon-container-services {
  display: block;
  line-height: 90px;
  img {
    vertical-align: bottom;
  }
}
.icon-title-services{
  display: block;
  padding: 10px 0 6px 0;
}

/*s_clients*/
.s_clients {
  &.maroon {
    background: @maroon;
    .b_section-title {
      background: @maroon;
      color: @white;
    }
  }
}
.b_nav-clients {
  @media @mobile {
    display: none;
  }
}
.b_nav-clients-mobile {
  display: none;
  @media @mobile {
    display: block;
  }
}
.clients-list {
  a{
    display: inline-block;
    padding: 23px 8px;
    img{
      width: 100%;
      height: auto;
    }
  }
}


/*SERVICES*/
/*s_page-content*/
.s_page-content{
  &.white {
    background: @white;
  }
 .breadcrumbs{
   position: absolute;
   top: 15px;
   @media @mobile {
     position: relative;
     top: -25px;
   }
 }
  h1{
    display: inline;
    padding: 0;
  }
  .l_item{
    padding: 7.448% 0; /* 70/960 */
    overflow: hidden;
    &:last-child{
      padding: 7.448% 0 1px 0;
    }
  }
  .image-inner {
    max-width: 23.405%; /*220/940*/
    margin: 0 10.639% 0 0; /* 100/940 */
    @media @tablet{
      margin: 0 7% 0 0;
    }
    @media @mobile {
      margin: 0;
    }
  }
  .description-inner {
    width: 65.956%; /* 620/940 */
    @media @tablet{
      width: 69.595%;
    }
    @media @mobile {
      width: 100%;
    }
  }
  .txt-large{
    margin-top: -7px;
    @media @mobile {
      margin-top: 0;
    }
  }
}
.back{
  display: inline-block;
  margin-right: 4.788%; /* 45/940 */
  .transition(all 0.1s ease-in-out);
  &:hover{
    .scale(1.1);
  }
  img{
    width: 100%;
    height: auto;
  }
  @media @mobile {
    display: none;
  }
}



